*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
    display: block;
}
img{
    width: 100%;
}
