.secondaire{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    gap: var(--gapXLrg);
}
.secondaire a{
    color: var(--palest);
}
.secondaire p{
    font-size: var(--fontMed);
    text-decoration: underline;
}
.secondaire a:first-of-type{
    font-size: var(--fontMed);
}
.secondaire a:hover{
    text-decoration: 2px solid underline;
    text-underline-offset: 5px;
    text-decoration-color: var(--fluo)   
}