.ticket-lien{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;  
    background-color: var(--palest);
    padding: var(--gapLrg); 
    max-width: 400px;
    min-width: 100px;
    box-shadow: 10px 10px var(--dark);

}
.ticket-lien p{
    font-size: var(--fontMed);
    font-weight: bold;
    min-width: 10ch;
    margin-bottom: var(--gapMed);
}


